@model AllBookingsViewModel

<h2 class="text-center border-bottom border-dark-subtle border-3 pb-3 mt-3 border-opacity-100 w-75 mx-auto">All Bookings</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle table-primary text-center w-75 mx-auto mt-3">
        <thead class="fw-bolder">
            <tr>
                <th>#</th>
                <th>Outbound</th>
                <th>Inbound</th>
                <th>Amount</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Bookings.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.Bookings[i].Outbound.Origin.Name - @Model.Bookings[i].Outbound.Destination.Name</td>
                    <td>
                        @{string inbound = string.Empty; }
                        @if (Model.Bookings[i].Inbound == null)
                        {
                            inbound = GlobalConstants.OneWayTicket;
                        }
                        else
                        {
                            inbound = string.Format("{0} - {1}", Model.Bookings[i].Inbound.Origin.Name, Model.Bookings[i].Inbound.Destination.Name);
                        }
                        @inbound
                    </td>
                    @{
                        decimal amount = decimal.Parse(((Currency)(Enum.Parse(typeof(Currency), Model.Bookings[i].Currency))).GetPrice()) * decimal.Parse(Model.Bookings[i].Amount);
                    }
                    <td>@Model.Bookings[i].Currency @amount.ToString("F2")</td>
                    <td>@Model.Bookings[i].User</td>
                    <td>
                        <a class="btn btn-primary me-3" asp-controller="Booking" asp-action="Details" asp-route-id="@Model.Bookings[i].Id">
                            Details
                        </a>
                        <a asp-controller="BoardingPass" asp-action="BoardingPass" asp-route-id="@Model.Bookings[i].Id" class="btn btn-primary">
                            Boarding Pass
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>