<h2 class="text-center">Create Booking</h2>
<hr />
<form method="post" class="w-50 mx-auto" asp-controller="Booking" asp-action="Create" id="bookingForm" name="bookingForm">
    @*<div class="form-group d-none flight">
            <label for="origin">Origin</label>
            <input type="text" class="form-control" id="origin" name="origin" value="@Model.Origin" disabled />
        </div>
        <div class="form-group d-none flight">
            <label for="destination">Destination</label>
            <input type="text" class="form-control" id="destination" name="destination" value="@Model.Destination" disabled />
        </div>
        <div class="form-group d-none flight">
            <label for="departure">Departure</label>
            <input type="text" class="form-control" id="departure" name="departure" value="@Model.Departure" disabled />
        </div>
        <div class="form-group d-none flight">
            <label for="arrival">Arrival</label>
            <input type="text" class="form-control" id="arrival" name="arrival" value="@Model.Arrival" disabled />
        </div>
        <div class="form-group d-none flight">
            <label for="duration">Duration</label>
            <input type="text" class="form-control" id="duration" name="duration" value="@Model.Duration" disabled />
        </div>*@
    @for (int i = 0; i < Model.Flights.Count; i++)
    {
        <div class="form-group flights" id="flightT@(i)">
            <label for="flight">Flight</label>
            <br />
            <textarea class="form-control d-inline-block w-75" id="flight@(i)" name="flight" disabled readonly style="resize: none" rows="5">@Model.FlightsLists[i]</textarea>
            <label class="ml-3 flightLabels" id="flightLabel@(i)"><input type="checkbox" class="form-control d-inline-block flightChecks" style="width: auto" name="flightCheck@(i)" id="flightCheck@(i)" /> <span class="flightLabelsSpan">Select</span></label>
            <div id="price@(i)" class="prices d-none">@Model.Flights[i].Price</div>
        </div>
    }
    @for (int i = 0; i < int.Parse(Model.Passenger); i++)
    {
        <div class="form-group d-none passengers">
            <label for="firstName@(i)" class="labels" id="firstLabel@(i)">First Name</label>
            <input class="form-control firstNames" id="firstName@(i)" name="firstNames@(i)" />
        </div>
        <div class="form-group d-none passengers">
            <label for="lastName@(i)" class="labels">Last Name</label>
            <input class="form-control lastNames" id="lastName@(i)" name="lastName@(i)" />
        </div>
        <div class="form-group d-none passengers">
            <label for="gender@(i)" class="labels">Gender</label>
            <select class="form-control genders" id="gender@(i)" name="gender@(i)">
                <option selected hidden disabled>Select Gender</option>
                @for (int j = 1; j <= Enum.GetValues(typeof(Gender)).Length; j++)
                {
                    <option>@((Gender)j)</option>
                }
            </select>
        </div>
        <div class="form-group d-none passengers">
            <label for="dob@(i)" class="labels">Date of birth</label>
            <input type="text" readonly class="form-control datepicker-here dobs" data-position="top left" data-language='en' id="dob@(i)" name="dob@(i)" />
        </div>
        <hr class="passengers d-none bg-dark" />
    }
    @for (int i = 0; i < int.Parse(Model.Passenger); i++)
    {
        <h2 class="d-none">Passenger @(i + 1)</h2>
        <hr class="bg-dark d-none" />
        <div class="form-group docs d-none">
            <label for="docType@(i)" class="docLabels">Document Type</label>
            <select class="form-control docTypes" id="docType@(i)" name="docType@(i)">
                <option selected hidden disabled>Select Document Type</option>
                @for (int j = 1; j <= Enum.GetValues(typeof(DocumenType)).Length; j++)
                {
                    <option>@((DocumenType)j)</option>
                }
            </select>
        </div>
        <div class="form-group docs d-none">
            <label for="docNumber@(i)" class="docLabels">Document Number</label>
            <input class="form-control docNumbers" id="docNumber@(i)" name="docNumber@(i)" maxlength="10" />
        </div>
        <div class="form-group docs d-none">
            <label for="issueDate@(i)" class="docLabels">Issue Date</label>
            <input class="form-control issueDates datepicker-here" readonly id="issueDate@(i)" name="issueDate@(i)" data-language="en" data-position="top left" />
        </div>
        <div class="form-group docs d-none">
            <label for="expiryDate@(i)" class="docLabels">Expiry Date</label>
            <input class="form-control expiryDates datepicker-here" readonly id="expiryDate@(i)" name="expiryDate@(i)" data-language="en" data-position="top left" />
        </div>
        <div class="form-group docs d-none">
            <label for="nationality@(i)" class="docLabels">Nationality</label>
            <select class="form-control nationalities" id="nationality@(i)" name="nationality@(i)">
                <option selected hidden disabled>Select Nationality</option>
                @for (int j = 1; j <= Enum.GetValues(typeof(Country)).Length; j++)
                {
                    <option>@((Country)j)</option>
                }
            </select>
        </div>
        <div class="form-group docs d-none">
            <label for="birthCountry@(i)" class="docLabels">Birth Country</label>
            <select class="form-control birthCountries" id="birthCountry@(i)" name="birthCountry@(i)">
                <option selected hidden disabled>Select Your Birth Country</option>
                @for (int j = 1; j <= Enum.GetValues(typeof(Country)).Length; j++)
                {
                     <option>@((Country)j)</option>
                }
            </select>
        </div>
        <div class="form-group docs d-none">
            <label for="genderDoc@(i)" class="docLabels">Gender</label>
            <select class="form-control genderDocs" id="genderDoc@(i)" name="genderDoc@(i)">
                <option selected hidden disabled>Select Gender</option>
                @for (int j = 1; j <= Enum.GetValues(typeof(Gender)).Length; j++)
                {
                    <option>@((Gender)j)</option>
                }
            </select>
        </div>
        <div class="form-group docResults d-none">
            <label for="docResult" id="labelDocResult@(i)">Passport</label>
            <textarea class="form-control" id="docResult@(i)" name="docResult" style="resize: none" rows="6" disabled></textarea>
        </div>
    }
    @for (int i = 0; i < int.Parse(Model.Passenger); i++)
    {
        <div class="form-group d-none services">
            <label>Services</label>
            <br />
            <div class="mr-4 d-inline-block"><input style="width: auto" type="checkbox" class="form-control d-inline-block airportCheckIns" name="airportCheckIn@(i)" value="airportCheckIn" id="airportCheckIn@(i)"><span> Airport Check-in</span></div>
            <div class="mr-4 d-inline-block"><input style="width: auto" type="checkbox" class="form-control d-inline-block baggages" name="baggage@(i)" value="Baggage" id="baggage@(i)"><span> Baggage</span></div>
            <div class="mr-4 d-inline-block"><input style="width: auto" type="checkbox" class="form-control d-inline-block flexibilities" name="flexibility@(i)" value="flexibility" id="flexibility@(i)"><span> Flexibility</span></div>
            <div class="mr-4 d-inline-block"><input style="width: auto" type="checkbox" class="form-control d-inline-block onTimeArrivals" name="onTimeArrival@(i)" value="onTimeArrival" id="onTimeArrival@(i)"><span> On Time Arrival</span></div>
            <div class="mr-4 d-inline-block"><input style="width: auto" type="checkbox" class="form-control d-inline-block priorities" name="priority@(i)" value="priority" id="priority@(i)"><span> Priority</span></div>
            <div class="mr-4 d-inline-block"><input style="width: auto" type="checkbox" class="form-control d-inline-block seats" name="seat@(i)" value="seat" id="seat@(i)"><span> Seat</span></div>
        </div>
        <div class="form-group d-none baggageKilos">
            <label>Baggage Kilos</label>
            <br />
            <div class="d-inline-block mr-4"><input type="radio" style="width: auto" class="form-control d-inline-block 20kgs" name="kgs@(i)" value="20kg" id="20kg@(i)"><span> 20kg</span></div>
            <div class="d-inline-block mr-4"><input type="radio" style="width: auto" class="form-control d-inline-block 32kgs" name="kgs@(i)" value="32kg" id="32kg@(i)"><span> 32kg</span></div>
        </div>
        <div class="form-group d-none seatsType">
            <label>Seat Type</label>
            <br />
            <div class="d-inline-block mr-4"><input type="radio" style="width: auto" class="form-control d-inline-block normalSeat" name="seatType@(i)" value="normalSeat" id="normalSeat@(i)"><span> Normal</span></div>
            <div class="d-inline-block mr-4"><input type="radio" style="width: auto" class="form-control d-inline-block extraLegRoom" name="seatType@(i)" value="extraLegRoom" id="extraLegRoom@(i)"><span> Extra Legroom</span></div>
        </div>
        <div class="form-group servicesResult d-none">
            <label for="serviceResult">Services</label>
            <textarea class="form-control sResults" id="serviceResult@(i)" name="serviceResult" style="resize: none" disabled></textarea>
        </div>
    }
    <h2 class="text-center d-none payment" id="paymentH2">Payment</h2>
    <hr class="bg-dark payment d-none" id="paymentHr" />
    <div class="form-group payment d-none">
        <label for="cardType">Card Type</label>
        <select class="form-control" id="cardType" name="cardType">
            <option selected hidden disabled>Select Card</option>
            @for (int j = 1; j <= Enum.GetValues(typeof(CardType)).Length; j++)
            {
                <option>@((CardType)j)</option>
            }
        </select>
    </div>
    <div class="form-group payment d-none">
        <label for="cardNumber">Card Number</label>
        <input type="text" id="cardNumber" name="cardNumber" class="form-control" maxlength="16" pattern="\d*" />
    </div>
    <div class="form-group payment d-none">
        <label for="expiryDatePayment">Expiry Date</label>
        <input type="text" id="expiryDatePayment" name="expiryDatePayment" onkeyup="AddSlash()" class="form-control" maxlength="5" pattern="[0-9\/]*" />
    </div>
    <div class="form-group payment d-none">
        <label for="cardHolder">Card Holder</label>
        <input type="text" id="cardHolder" name="cardHolder" class="form-control" />
    </div>
    <div class="form-group payment d-none">
        <label for="cvc">CVC</label>
        <input type="text" id="cvc" name="cvc" class="form-control" maxlength="3" pattern="\d*" />
    </div>
    <div class="form-group payment d-none">
        <label for="currency">Currency</label>
        <select class="form-control" id="currency" name="currency" onchange="Convert(value)">
            <option selected hidden disabled>Select Currency</option>
            @for (int j = 1; j <= Enum.GetValues(typeof(Currency)).Length; j++)
            {
                <option value="@((Currency)j)">@((Currency)j)</option>
            }
        </select>
    </div>
    <div class="form-group d-none" id="paymentSummaryDiv">
        <label for="paymentSummary">Payment</label>
        <textarea id="paymentSummary" name="paymentSummary" class="form-control" rows="6" style="resize: none" disabled></textarea>
    </div>
    <div class="form-group">
        <label for="total">Total</label>
        <div disabled id="total" name="total" class="form-control">0</div>
    </div>
    <div class="d-none" id="priceFor20kg">@Model.Baggage20kgPrice</div>
    <div class="d-none" id="priceFor32kg">@Model.Baggage32kgPrice</div>
    <div class="d-none" id="priceForNormalSeat">@Model.NormalSeatPrice</div>
    <div class="d-none" id="priceForExtraLegRoomSeat">@Model.ExtraLegRoomSeatPrice</div>
    <div class="d-none" id="priceForPriority">@Model.PriorityPrice</div>
    <div class="d-none" id="priceForFlexibility">@Model.FlexibilityPrice</div>
    <div class="d-none" id="priceForAirportCheckIn">@Model.AirportCheckInPrice</div>
    <div class="d-none" id="priceForOnTimeArrival">@Model.OnTimeArrivalPrice</div>
    <div>
        <a href="javascript:showNext();" class="btn bg-dark text-white" id="buttonSubmit">Next</a>
    </div>
    <button type="submit" id="btnSumbit" class="btn bg-dark text-white d-none">Pay</button>
    @*<div>
            <button type="submit" class="btn bg-dark text-white">Create</button>
        </div>*@
    <input type="text" class="d-none" name="namesResults" id="namesResults">
    <input type="text" class="d-none" name="passportResults" id="passportResults">
    <input type="text" class="d-none" name="servicesResults" id="servicesResults">
    <input type="text" class="d-none" name="flightsResults" id="flightsResults">
    <input type="text" class="d-none" name="paymentsResults" id="paymentsResults">
    <input type="text" class="d-none" id="MP" value="@Model.Passenger" />
</form>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link href="~/lib/air-datepicker-master/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<script src="~/lib/air-datepicker-master/dist/js/datepicker.min.js"></script>
<script src="~/lib/air-datepicker-master/dist/js/i18n/datepicker.en.js"></script>
<script src="~/js/booking.js"></script>