@model PaginatedList<Aircraft>

<h2 class="text-center border-bottom border-dark-subtle border-3 pb-3 mt-3 border-opacity-100">All Aircraft</h2>

<table class="table table-primary table-striped table-hover w-75 mx-auto">
    <thead>
        <tr class="fw-bolder">
            <th>Name</th>
            <th>Number of Seats</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aircraft in Model)
        {
            <tr>
                <td>@aircraft.Name</td>
                <td>@aircraft.NumberOfSeats</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <a class="btn btn-primary" asp-controller="Aircraft" asp-action="Edit" asp-route-aircraftId="@aircraft.Id">Edit</a>
                        <form asp-controller="Aircraft" asp-action="Delete" asp-route-aircraftId="@aircraft.Id" method="post">
                            <input type="submit" class="btn btn-primary" value="Delete" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <tr>
            <td colspan="3" class="text-end">
                <a asp-controller="Aircraft" asp-action="All" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-primary @prevDisabled">
                    Previous
                </a>
                <a asp-controller="Aircraft" asp-action="All" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-primary @nextDisabled">
                    Next
                </a>
            </td>
        </tr>
    </tfoot>
</table>